// -------------- error formulaire
.error {
  color: red;
  text-transform: lowercase;
  margin-left: 2rem;
}

// ------------- animation reveal left
.reveal-left {
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.4s, opacity 0.4s;
}

.reveal-left.not-visible {
  transform: translateX(-50px);
  opacity: 0;
}

// ------------- animation reveal right

.reveal-right {
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.4s, opacity 0.4s;
}

.reveal-right.not-visible {
  transform: translateX(50px);
  opacity: 0;
}

// ------------- animation reveal bottom

.reveal-bottom {
  transform: translateY(0);
  opacity: 1;
  transition: transform 0.4s, opacity 0.4s;
}

.reveal-bottom.not-visible {
  transform: translateY(25px);
  opacity: 0;
}

// -------------- modale mentions
.mentions.show {
  transform: translateX(0);
  transition: all 1s cubic-bezier(0.92, 0.08, 0.28, 1.46);
  opacity: 1;
}

// ****************** reveal card ******************

/* figure.snip1104 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  font-family: $titleFamily;
  position: relative;
  overflow: hidden;
  text-align: center;
  min-height: 22rem;

}

figure.snip1104 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 1s cubic-bezier(0.2, 1.35, 0.82, 0.92);
  transition: 1s cubic-bezier(0.2, 1.35, 0.82, 0.92);
}

figure.snip1104 h2 {
  position: absolute;
  left: 40px;
  right: 40px;
  display: inline-block;
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
  padding: 12px 5px;
  margin: 0;
  top: 50%;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2.4rem;
  text-align: center;
}

figure.snip1104 h2 span {
  font-weight: 800;
}

figure.snip1104:before {

  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  /*   -webkit-transform: rotate(110deg) translateY(-50%);
    transform: rotate(120deg) translateY(-50%); 

} */

/* 
figure.snip1104 h2 {
  background: $newGreen;
}

figure.snip1104:hover h2 {
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);

}

figure.snip1104:hover:before {
  -webkit-transform: rotate(110deg) translateY(-150%);
  transform: rotate(10deg) translateY(-50%);
  opacity: 0;
}

// --------- presentation ----------
.about__content__block .presentation {

  position: relative;
  opacity: 1;
  text-align: justify;
  color: $textWhite;
  font-family: $texteRegular;
  background-color: $backgroundCardHover;
  padding: 1rem;

  &__text {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    font-size: 1.8rem;
    opacity: 0;
  }

  &:before {
    background-image: url('../img/tuiles/hacker-2300772_1920.jpg');
  }

  &:hover {
    .presentation__text {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }
}

// --------- formation ----------
.about__content__block .formations {

  position: relative;
  opacity: 1;
  background-color: $backgroundCardHover;
  padding: 1rem;

  &__title {
    @include titleCard(2.5rem);
    margin-bottom: 2rem;
    color: $newDark;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
  }

  &__text {
    font-family: $texteRegular;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
    text-align: start;

    span {
      font-size: 1.2rem;
      color: $newDark;
      font-style: italic;
      font-weight: bold;
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
      opacity: 0;
    }
  }

  &:hover {

    .formations__title {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;

      #info-icon-diplome {
        z-index: 1000;
      }
    }

    .formations__text,
    span {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }

  &:before {
    background-image: url('../img/tuiles/formations_img.jpg');
  }

  // ------------ modale détail formation --------------------
  #info-modal-diplome {
    background-image: url('../img/tuiles/formations_img.jpg');
    background-size: cover;

    // assombrir background image
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.553);
      z-index: -10;
    }

    ul li {
      margin-bottom: 1rem;
      text-align: start;
    }

    a {
      text-decoration: none;
      color: $textWhite;
      font-size: 1.6rem;

      .icon-showing {
        fill: $newGreen;
        width: 20px;
        position: relative;
        top: 6px;
        transition: 1s cubic-bezier(0.2, 1.35, 0.82, 0.92);

        &:hover {
          fill: $newGreenlight;
        }
      }
    }
  }
}

// --------- compétences ----------
.about__content__block .competences {

  position: relative;
  opacity: 1;
  text-align: justify;
  color: $textWhite;
  font-family: $texteRegular;
  background-color: $backgroundCardHover;
  padding: 1rem;

  &__title {
    @include titleCard(2.5rem);
    margin-bottom: 2rem;
    color: $newDark;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
  }

  &__text {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    font-size: 1.8rem;
    opacity: 0;
  }

  &:before {
    background-image: url('../img/tuiles/competences_img.jpg');
  }


  &:hover {

    .competences__title {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }

} */
 