// -------------- error formulaire
.error {
  color: red;
  text-transform: lowercase;
  margin-left: 2rem;
}

// ------------- animation reveal left
.reveal-left {
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.4s, opacity 0.4s;
}

.reveal-left.not-visible {
  transform: translateX(-50px);
  opacity: 0;
}

// ------------- animation reveal right

.reveal-right {
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.4s, opacity 0.4s;
}

.reveal-right.not-visible {
  transform: translateX(50px);
  opacity: 0;
}

// ------------- animation reveal bottom

.reveal-bottom {
  transform: translateY(0);
  opacity: 1;
  transition: transform 0.4s, opacity 0.4s;
}

.reveal-bottom.not-visible {
  transform: translateY(25px);
  opacity: 0;
}

// -------------- modale mentions
.mentions.show {
  transform: translateX(0);
  transition: all 1s cubic-bezier(0.92, 0.08, 0.28, 1.46);
  opacity: 1;
}

/* Animation au survol des articles de services */
.services__wrapper:hover .info-icon {
    animation: pulseRotate 1s ease-in-out infinite;
}

/* ************ ANIMATION BOUTON INFO  ************** */

/* Animation pour les icônes info au survol des articles */
.services__wrapper,
.about__content__block__formations {
    position: relative;
}

.info-icon {
    transition: all 0.3s ease;
    transform-origin: center;
    margin-bottom: 1px;
}

/* Animation au survol de l'article formations */
.about__content__block__formations:hover .info-icon {
    animation: infoCallToAction 3s ease-in-out infinite;
}

/* Animation au survol des articles de services */
.services__wrapper:hover .info-icon {
    animation: infoCallToAction 3s ease-in-out infinite;
}
/* Animation d'appel à l'action pour l'icône info */
@keyframes infoCallToAction {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    15% {
        transform: scale(1.2);
        opacity: 0.9;
    }

    30% {
        transform: scale(1.1);
        opacity: 0.8;
    }

    45% {
        transform: scale(1.3);
        opacity: 0.9;
    }

    60% {
        transform: scale(1.15);
        opacity: 0.85;
    }

    75% {
        transform: scale(1.25);
        opacity: 0.95;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}
