@use "../abstracts/_all" as a;

//
.filter-about {
  width: 100vw;
  height: 100vh;
  background-image: url('../img/background_blur.jpg');
  background-position: center;
  background-size: cover;
}

.about {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1400px;
  margin-top: 8rem;
  width: 100%;
  height: 80vh; // a bo

  //  --------- block titre + trait droit page ----------
  &__title {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;

    h2 {
      @include a.mTitlePage(a.$fontSizeTitlePageMobile);
    }

    &__border-right {
      @include a.mBorderRightPage();
    }
  }

  &__content {
    height: 100%;
    width: 100%;
    display: flex;

    &__border-left {
      @include a.mBorderLeftPage();
    }

    // ==============  container about ===================
    &__block {
      @include a.mTextCard(a.$fontSizeTextCardMobile);
      padding: 0.5rem;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 1.4rem;
      overflow: scroll;

      // -----------  block présentation -----------
      &__presentation {
        @include a.mAboutLayoutCard();
        min-height: 30rem;
        padding: 0;

        &:hover {
          background-color: a.$colorBackgroundCardHover;
          box-shadow: a.$boxShadowCardHover;
          transition: a.$transitionCardHover;
        }

        .video {
          width: 100%;
          height: 100%;
        }

        .vjs-poster img {
          width: 100%;
          height: 100%;
          transition: a.$transitionRegular;

          &:hover {
            filter: brightness(1.2);
          }
        }

        .vjs-custom-theme {
          .vjs-control-bar {
            color: #328281;
            background-color: transparent !important;
          }

          .vjs-big-play-button {
            opacity: 0 !important;
            color: #328281;
            border-color: #328281;
          }

          .vjs-volume-control {
            align-items: center !important;
            color: #328281;
          }

          .vjs-time-tooltip {
            color: #328281;
            background-color: #3282811a;
          }

          .vjs-play-progress:before {
            top: -4px !important;
            color: #328281;
          }

          .vjs-fullscreen-control {
            color: #328281;

            .vjs-icon-placeholder {
              color: #328281;

              &:before {
                line-height: 30px;
                color: #328281;
              }
            }
          }

          button {
            color: #328281;

            &:hover {
              color: #47b3b1;
            }
          }

          .vjs-play-progress.vjs-slider-bar {
            color: #328281 !important;
            background-color: #328281;
          }

          .vjs-progress-control .vjs-progress-holder {
            margin: 0 10px;
            background: #32828168;
            height: 1px;
          }


          .vjs-volume-level {
            color: #328281 !important;
            background-color: #328281;
          }

          .vjs-volume-tooltip {
            color: #328281 !important;
          }

          .vjs-progress-control {
            color: #328281;

            &:hover {
              color: #47b3b1;

              .vjs-play-progress:before {
                top: -7px !important;
                color: #47b3b1;
              }
            }
          }

          .vjs-control-bar {
            height: 54px;
            background: none;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            visibility: visible;
            opacity: 1;
            -webkit-transition: visibility 0.1s, opacity 0.1s;
            -o-transition: visibility 0.1s, opacity 0.1s;
            transition: visibility 0.1s, opacity 0.1s;
            color: #328281;
          }

          .vjs-volume-panel {
            color: #328281;
            -webkit-box-ordinal-group: 5;
            -ms-flex-order: 4;
            order: 4;
            display: flex;
            align-items: center;
          }

          .vjs-fullscreen-control {
            -webkit-box-ordinal-group: 5;
            -ms-flex-order: 5;
            order: 5;
            color: #328281;
          }

          /*   .vjs-picture-in-picture-control,
               .vjs-remaining-time {
                 display: none;
               }
       */
          .vjs-play-control {
            color: #328281;
            width: 5em !important;
          }

          .vjs-play-control .vjs-icon-placeholder::before {
            font-size: 13px;
            letter-spacing: 0.16px;
            content: "Play" !important;
            font-family: sans-serif;
            line-height: 30px;
            color: #328281;
          }

          .vjs-play-control.vjs-playing .vjs-icon-placeholder::before {
            content: "Pause" !important;
            font-family: sans-serif;
            color: #328281;
          }
        }

      }

      // ------------  block formations -------------
      &__formations {
        @include a.mAboutLayoutCard();
        // min-height a cause du overflow
        min-height: 15rem;
        position: relative;
        overflow: hidden;

        &:hover {
          background-color: a.$colorBackgroundCardHover;
          box-shadow: a.$boxShadowCardHover;
          transition: a.$transitionCardHover;
        }

        .formations__title {
          @include a.mTitleCard(a.$fontSizeTitleCardMobile);
          margin-bottom: 2rem;
        }

        .formations__text {
          margin-bottom: 0.2rem;

          span {
            font-size: 1.1rem;
            font-family: a.$fontGrifterFamily;
            color: a.$colorDark;
            font-style: italic;
          }
        }

        ul li {
          margin-bottom: 0.5rem;
        }

        a {
          text-decoration: none;
          color: a.$colorWhite;
          font-size: 1.6rem;

          .icon-showing {
            width: 20px;
            fill: a.$colorGreenLight;
            position: relative;
            top: 6px;
            transition: 1s cubic-bezier(0.2, 1.35, 0.82, 0.92);

            &:hover {
              fill: a.$colorGreen;
            }
          }
        }
      }

      // -------------  block compétences ---------------
      &__competences {
        @include a.mAboutLayoutCard();
        padding-top: 3rem;

        &:hover {
          background-color: a.$colorBackgroundCardHover;
          box-shadow: a.$boxShadowCardHover;
          transition: a.$transitionCardHover;
        }

        .competences__title {
          @include a.mTitleCard(a.$fontSizeTitleCardMobile);
          margin-bottom: 2rem;
        }

        .competences__card {
          width: 100%;
          margin-bottom: 1rem;

          &__sentence {
            @include a.mUnderTitleCard(a.$fontSizeUnderTitleCardMobile);
          }

          // ,,,,,,,,,,  texte + icones
          &__text__icon {

            // ,,,,,,,,,,  icones
            .icon {
              display: none;
            }
          }
        }
      }

      // ---------------- reseaux ---------------
      &__reseaux {
        display: none;
      }
    }
  }
}

// ====================== MEDIA QUERY > 767PX (TABLETTE) ========================
@media screen and (min-width: 767px) {
  .about {
    margin-top: 10vh;

    h2 {
      font-size: a.$fontSizeTitlePage;
    }

    &__content__block {
      margin: 1rem 2rem;
      grid-template-columns: 1fr 1fr;
      font-size: a.$fontSizeTextCard;


      // ---------------------------  block présentation
      &__presentation {
        font-size: a.$fontSizeTextCard;
        line-height: 2.1rem;
      }

      // ---------------------------  block formation
      &__formations {
        padding: 2rem;

        .formations__title {
          @include a.mTitleCard(a.$fontSizeTitleCard);
        }
      }

      .info-modal-formation {
        @include a.mCenterElement();
      }


      // ---------------------------  block compétences
      &__competences {
        padding: 2rem;
        padding-top: 3rem;
        grid-column: 1 / 3;

        .competences__title {
          @include a.mTitleCard(a.$fontSizeTitleCard);
        }

        .competences__card {
          margin: 0.1rem 0 1.5rem 0;
          display: grid;

          &__sentence {
            @include a.mUnderTitleCard(a.$fontSizeUnderTitleCard);
          }
        }
      }
    }
  }
}

// ========================= MEDIA QUERY > 960PX (PC) ============================
@media screen and (min-width: 960px) {
  .about {
    padding-top: 10rem;
    margin: 5rem;
    height: 80vh; // a bouger en grand ecran

    &__title {
      width: 80%;
    }

    &__title__border-right {
      margin-top: 1.5%;
    }

    &__content {

      // =================== container ====================
      &__block {
        padding: 1 4rem;

        &__competences {
          flex: 2;

          // ---------------------  compétences card
          .competences__card {
            margin: 1rem;

            // ,,,,,,,,,,  texte + icones
            &__text__icon {
              display: grid;
              align-items: center;
              grid-template-columns: 7fr 1fr;
              margin-bottom: 0;

              // ,,,,,,,,,,  icones
              .icon {
                display: flex;
                justify-self: end;
                align-items: center;

                .icon-demi {
                  display: flex;
                  align-items: center;

                  // photoshop icon --------
                  .photoshop-icon-path {
                    transition: 0.1s ease-in-out;
                    fill: a.$colorGreenLight;
                  }

                  .photoshop-icon-g {
                    transition: 0.1s ease-in-out;
                    fill: a.$colorDark;
                  }

                  .photoshop-icon:hover {
                    .photoshop-icon-path {
                      fill: #001e36;
                    }

                    .photoshop-icon-g {
                      fill: #31a8ff;
                    }
                  }

                  // -------------------------
                  // adobe icon --------
                  .adobe-icon-path {
                    transition: 0.1s ease-in-out;
                    fill: a.$colorGreenLight;
                  }

                  .adobe-icon-g {
                    transition: 0.1s ease-in-out;
                    fill: a.$colorDark;
                  }

                  .adobe-icon:hover {
                    .adobe-icon-path {
                      fill: #470137;
                    }

                    .adobe-icon-g {
                      fill: #ff61f6;
                    }
                  }

                  // -------------------------
                  // canva icon --------
                  .canva-icon-path {
                    transition: 0.1s ease-in-out;
                    fill: a.$colorGreenLight;
                  }

                  .canva-icon-g {
                    transition: 0.1s ease-in-out;
                    fill: a.$colorDark;
                  }

                  .canva-icon:hover {
                    .canva-icon-path {
                      fill: #23bec7;
                    }

                    .canva-icon-g {
                      fill: #fff;
                    }
                  }

                  // -------------------------
                  // figma icon --------
                  .figma-icon-path-1 {
                    transition: 0.1s ease-in-out;
                    fill: a.$colorGreenLight;
                  }

                  .figma-icon-path-2 {
                    transition: 0.1s ease-in-out;
                    fill: a.$colorGreenLight;
                  }

                  .figma-icon-path-3 {
                    transition: 0.1s ease-in-out;
                    fill: a.$colorGreenLight;
                  }

                  .figma-icon-path-4 {
                    transition: 0.1s ease-in-out;
                    fill: a.$colorGreenLight;
                  }

                  .figma-icon-path-5 {
                    transition: 0.1s ease-in-out;
                    fill: a.$colorGreenLight;
                  }

                  .figma-icon:hover {
                    .figma-icon-path-1 {
                      transition: 0.1s ease-in-out;
                      fill: #0acf83;
                    }

                    .figma-icon-path-2 {
                      transition: 0.1s ease-in-out;
                      fill: #a259ff;
                    }

                    .figma-icon-path-3 {
                      transition: 0.1s ease-in-out;
                      fill: #f24e1e;
                    }

                    .figma-icon-path-4 {
                      transition: 0.1s ease-in-out;
                      fill: #ff7262;
                    }

                    .figma-icon-path-5 {
                      transition: 0.1s ease-in-out;
                      fill: #1abcfe;
                    }
                  }

                  // -------------------------
                  // html icon --------
                  .html-icon-path-1 {
                    transition: 0.1s ease-in-out;
                    fill: a.$colorGreenLight;
                  }

                  .html-icon-path-2 {
                    transition: 0.1s ease-in-out;
                    fill: a.$colorDark;
                  }

                  .html-icon-path-3 {
                    transition: 0.1s ease-in-out;
                    fill: a.$colorDark;
                  }

                  .html-icon:hover {
                    .html-icon-path-1 {
                      transition: 0.1s ease-in-out;
                      fill: #e34f26;
                    }

                    .html-icon-path-2 {
                      transition: 0.1s ease-in-out;
                      fill: #ef652a;
                    }

                    .html-icon-path-3 {
                      transition: 0.1s ease-in-out;
                      fill: #fff;
                    }
                  }

                  // -------------------------
                  // css icon --------
                  .css-icon-path-1 {
                    transition: 0.1s ease-in-out;
                    fill: a.$colorGreenLight;
                  }

                  .css-icon-path-2 {
                    transition: 0.1s ease-in-out;
                    fill: a.$colorDark;
                  }

                  .css-icon-path-3 {
                    transition: 0.1s ease-in-out;
                    fill: a.$colorDark;
                  }

                  .css-icon:hover {
                    .css-icon-path-1 {
                      transition: 0.1s ease-in-out;
                      fill: #1b73ba;
                    }

                    .css-icon-path-2 {
                      transition: 0.1s ease-in-out;
                      fill: #1c88c7;
                    }

                    .css-icon-path-3 {
                      transition: 0.1s ease-in-out;
                      fill: #fff;
                    }
                  }

                  // -------------------------
                  // js icon ----------------
                  .js-icon-path-1 {
                    transition: 0.1s ease-in-out;
                    fill: a.$colorGreenLight;
                  }

                  .js-icon-path-2 {
                    transition: 0.1s ease-in-out;
                    fill: a.$colorDark;
                  }

                  .js-icon:hover {
                    .js-icon-path-1 {
                      transition: 0.1s ease-in-out;
                      fill: #f0db4f;
                    }

                    .js-icon-path-2 {
                      transition: 0.1s ease-in-out;
                      fill: #323330;
                    }
                  }

                  // -------------------------
                  // wp icon ---------------
                  .wp-icon-path-1 {
                    transition: 0.1s ease-in-out;
                    fill: a.$colorDark;
                  }

                  .wp-icon-path-2 {
                    transition: 0.1s ease-in-out;
                    fill: a.$colorDark;
                  }

                  .wp-icon-g {
                    transition: 0.1s ease-in-out;
                    fill: a.$colorGreenLight;
                  }

                  .wp-icon:hover {
                    .wp-icon-path-1 {
                      transition: 0.1s ease-in-out;
                      fill: #00749a;
                    }

                    .wp-icon-path-2 {
                      transition: 0.1s ease-in-out;
                      fill: #464342;
                    }

                    .wp-icon-g {
                      transition: 0.1s ease-in-out;
                      fill: #00749a;
                    }
                  }

                  // -------------------------
                  // woo icon ----------------
                  .woo-icon {
                    width: 2.4rem;
                  }

                  .woo-icon-path-1 {
                    transition: 0.1s ease-in-out;
                    fill: a.$colorGreenLight;
                  }

                  .woo-icon-path-2 {
                    transition: 0.1s ease-in-out;
                    fill: a.$colorDark;
                  }

                  .woo-icon:hover {
                    .woo-icon-path-1 {
                      transition: 0.1s ease-in-out;
                      fill: #9b5c8f;
                    }

                    .woo-icon-path-2 {
                      transition: 0.1s ease-in-out;
                      fill: #fff;
                    }
                  }

                  // -------------------------
                  // react icon ----------------
                  .react-icon-g {
                    transition: 0.1s ease-in-out;
                    fill: a.$colorGreenLight;
                  }

                  .react-icon:hover {
                    .react-icon-g {
                      transition: 0.1s ease-in-out;
                      fill: #61dafb;
                    }
                  }

                  // -------------------------
                  // vite icon ----------------
                  .vite-icon-path-1 {
                    transition: 0.1s ease-in-out;
                    fill: a.$colorGreenLight;
                  }

                  .vite-icon-path-2 {
                    transition: 0.1s ease-in-out;
                    fill: a.$colorDark;
                  }

                  .vite-icon:hover {
                    .vite-icon-path-1 {
                      transition: 0.1s ease-in-out;
                      fill: #9b5c8f;
                    }

                    .vite-icon-path-2 {
                      transition: 0.1s ease-in-out;
                      fill: #fff;
                    }
                  }

                  // -------------------------

                  // sql icon --------
                  .sql-icon-path-1 {
                    transition: 0.1s ease-in-out;
                    fill: a.$colorGreenLight;
                  }

                  .sql-icon-path-2 {
                    transition: 0.1s ease-in-out;
                    fill: a.$colorDark;
                  }

                  .sql-icon-path-3 {
                    transition: 0.1s ease-in-out;
                    fill: a.$colorDark;
                  }

                  .sql-icon-path-4 {
                    transition: 0.1s ease-in-out;
                    fill: a.$colorDark;
                  }

                  .sql-icon-path-5 {
                    transition: 0.1s ease-in-out;
                    fill: a.$colorDark;
                  }

                  .sql-icon:hover {
                    .sql-icon-path-1 {
                      transition: 0.1s ease-in-out;
                      fill: #fff;
                    }

                    .sql-icon-path-2 {
                      transition: 0.1s ease-in-out;
                      fill: #00678c;
                    }

                    .sql-icon-path-3 {
                      transition: 0.1s ease-in-out;
                      fill: #00678c;
                    }

                    .sql-icon-path-4 {
                      transition: 0.1s ease-in-out;
                      fill: #ce8b2c;
                    }

                    .sql-icon-path-5 {
                      transition: 0.1s ease-in-out;
                      fill: #00678c;
                    }
                  }

                  // -------------------------
                  // php icon ----------------
                  .php-icon {
                    width: 2.6rem;
                  }

                  .php-icon-path-1 {
                    transition: 0.1s ease-in-out;
                    fill: a.$colorGreenLight;
                  }

                  .php-icon-path-2 {
                    transition: 0.1s ease-in-out;
                    fill: a.$colorDark;
                  }

                  .php-icon:hover {
                    .php-icon-path-1 {
                      transition: 0.1s ease-in-out;
                      fill: #8993be;
                    }

                    .php-icon-path-2 {
                      transition: 0.1s ease-in-out;
                      fill: #232531;
                    }
                  }

                  // -------------------------
                  // symfony icon ----------------
                  .symfony-icon-path-1 {
                    transition: 0.1s ease-in-out;
                    fill: a.$colorGreenLight;
                  }

                  .symfony-icon-path-2 {
                    transition: 0.1s ease-in-out;
                    fill: a.$colorDark;
                  }

                  .symfony-icon:hover {
                    .symfony-icon-path-1 {
                      transition: 0.1s ease-in-out;
                      fill: #1a171b;
                    }

                    .symfony-icon-path-2 {
                      transition: 0.1s ease-in-out;
                      fill: #fff;
                    }
                  }

                  // -------------------------
                  // git icon ----------------
                  .git-icon-path-1 {
                    transition: 0.1s ease-in-out;
                    fill: a.$colorGreenLight;
                  }

                  .git-icon:hover {
                    .git-icon-path-1 {
                      transition: 0.1s ease-in-out;
                      fill: #de4c36;
                    }
                  }

                  // -------------------------
                  // react-native icon ----------------
                  .react-native-icon-path-1 {
                    transition: 0.1s ease-in-out;
                    fill: a.$colorGreenLight;
                  }

                  .react-native-icon:hover {
                    .react-native-icon-path-1 {
                      transition: 0.1s ease-in-out;
                      fill: #61dafb;
                    }
                  }


                  // -------------------------
                  // sass icon ----------------
                  .sass-icon-path-1 {
                    transition: 0.1s ease-in-out;
                    fill: a.$colorGreenLight;
                  }

                  .sass-icon:hover {
                    .sass-icon-path-1 {
                      transition: 0.1s ease-in-out;
                      fill: #cd6799;
                    }
                  }

                  // -------------------------
                  // bootstrap icon ----------------
                  .bootstrap-icon-path-1 {
                    transition: 0.1s ease-in-out;
                    fill: a.$colorGreenLight;
                  }

                  .bootstrap-icon:hover {
                    .bootstrap-icon-path-1 {
                      transition: 0.1s ease-in-out;
                      fill: #5b4282;
                    }
                  }

                  // -------------------------
                }

                svg {
                  width: 1.6rem;
                  margin: 0.3rem;
                  filter: grayscale(0.6);
                  transition: 0.2s ease-in-out;

                  &:hover {
                    transform: scale(3);
                    filter: grayscale(0);
                    z-index: 100;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// ====================== MEDIA QUERY > 1240PX ( GRAND ECRAN ) ===================
@media screen and (min-width: 1240px) {

  .about {
    &__content {
      height: 50rem;

      &__border-left {
        max-height: 90%;
      }

      &__block {
        margin: 0 3rem;
        grid-template-columns: 1fr 1.3fr 1fr;
        grid-template-rows: 2fr 1fr;

        // ------  block présentation --------
        &__presentation {
          grid-column: 1 / 2;
          grid-row: 1 / 3;
        }

        // ------- block formations ----------
        &__formations {
          grid-column: 2 / 3;
          grid-row: 2 / 3;
          min-height: unset;

          .formations__title {
            margin-top: 0.5rem;
            margin-bottom: 1.5rem;
          }

          div {
            align-self: start;
          }

          .info-modal .title {
            margin-top: 0.5rem;
            margin-bottom: 1.5rem;
          }

        }

        // -------  block compétences ---------
        &__competences {
          margin-top: 0;
          grid-column: 2 / 4;
          grid-row: 1 / 2;
          padding: 1.7rem;


          .competences__title {
            margin-top: 0.5rem;
          }

          .competences__card {
            margin-top: 0.7rem;
          }
        }

        // --------- reseaux --------
        &__reseaux {
          @include a.mAboutLayoutCard();
          background-color: a.$colorBackgroundCard;
          display: flex;
          overflow: hidden;
          grid-column: 3 / 4;
          grid-row: 2 / 3;


          &:hover {
            background-color: a.$colorBackgroundCardHover;
            box-shadow: a.$boxShadowCardHover;
            transition: a.$transitionCardHover;
          }

          .reseaux__title {
            @include a.mTitleCard(a.$fontSizeTitleCard);
            @include a.mCenterElement();
            margin-bottom: 1.3rem;
          }


          .reseaux__social__network {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            transition: 1s;

            .git,
            .linkedln,
            .twitter {
              padding: 1rem;
            }

            .git a svg,
            .linkedln a svg,
            .twitter a svg {
              width: 3rem;

              path {
                fill: a.$colorDark;
                transition: 0.2s;
              }
            }

            .linkedln a svg:hover {
              path {
                fill: #0077b5;
              }
            }

            .git a svg:hover {
              path {
                fill: #F05033;
              }
            }

            .twitter a svg {
              fill: a.$colorDark;

              path {
                fill: #225c5a;
              }

              &:hover {
                fill: #1da1f2;
                transition: 0.2s;
              }
            }
          }

          .modale-linkedln {
            background-color: a.$colorDark;
            color: a.$colorGreenLight;
            font-family: a.$fontGrifterFamily;
            letter-spacing: 1px;
            position: absolute;
            text-align: center;
            z-index: 100;
            bottom: 5rem;
            @include a.mCenterElement;
            padding: 1rem;
            border-radius: 2px;
            display: none;
            font-weight: bold;
            font-size: 1.2rem;
            width: 25rem;
          }
        }
      }
    }
  }
}

// ========= MEDIA QUERY >  MOBILE ORIENTATION PAYSAGE <430 height ===========
@media (orientation: landscape) and (max-height: 430px) {
  .about {
    height: 70vh;
    padding-top: 0rem;

    &__content__block {
      gap: calc(20rem + -50vh) 20px !important;
    }


  }

  .title-formation,
  .item-formation {
    display: none;
  }

  .about-card {
    .competence-bonus {
      display: none;
    }
  }
}

// ===== MEDIA QUERY > 768PX < 960 & height < 740 ( PETIT ECRAN PAYSAGE ) ==================
@media screen and (min-width: 768px) and (max-width: 960px) and (max-height: 740px) {
  .about {
    margin-top: 20vh;
    height: 70vh;

  }
}