@use "../abstracts/_all" as a;

.slide-home {
  position: relative;
}

.text-use-mouse {
  display: none;
}

.scroll-icon {
  display: none;
}
// ************ block home **********
.filter-home {
  height: 0;

  .content-home {
    color: a.$colorWhite;
    margin-top: 100vh;
    padding: 1rem;

    h1,
    h2 {
      font-size: 3vmax;
      font-family: a.$fontGrifterFamily;
    }

    h3 {
      font-size: 2.3rem;
      font-family: a.$fontCovesFamily;
      color: a.$colorGreenLight;
      margin: 2rem 0 2rem;
    }

    .text-btn-block {
      .btn-block {
        margin-top: 1rem;
        display: flex;
        justify-content: end;
      }
    }

    p {
      font-size: a.$fontSizeTextCard;
      font-family: a.$fontCovesFamily;
      color: a.$colorWhite;
      text-align: justify;
      margin-bottom: 2rem;
    }
  }
}


// ======= MEDIA QUERY > 768PX (TABLETTE) ==========
@media screen and (min-width: 768px) {
  .filter-home {
    .content-home {
      margin-left: 1vw;
      padding: 5rem;

      h3,
      h2,
      h1,
      div {
        margin-left: 2rem;
      }

      .text-btn-block {
        width: 80%;
      }
    }
  }


}

// ======= MEDIA QUERY ICON SCROLL > 940 ===========
@media screen and (min-width: 940px) {
  .scroll-icon {
    position: absolute;
    bottom: 4rem;
    right: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.7em;
    width: 1.5em;
    font-size: 22px;
    color: rgba(#dcf7ff, 0.3);
    border-radius: 2em;
    border: solid 3px;
    transition: 2s;
    opacity: 0;

    &:hover {
      background-color: rgba(#dcf7ff, 0.05);
      color: #dcf7ff;
    }
  }


  .scroll-icon::after {
    content: '';
    width: 5px;
    height: 5px;
    background-color: #dcf7ff79;
    border-radius: 50%;
    animation: scroll-icon 2.2s infinite cubic-bezier(0.65, 0.05, 0.36, 1);
  }

  @keyframes scroll-icon {
    0% {
      transform: translateY(-12px);
      opacity: 0;
    }

    30%,
    70% {
      opacity: 1;
    }

    100% {
      transform: translateY(12px);
      opacity: 0;
    }
  }

  .text-use-mouse {
    position: absolute;
    bottom: 1.5rem;
    right: 1rem;
    color: rgba(#dcf7ff, 0.3);
    font-family: a.$fontCovesFamily;
    font-size: 1.5rem;
    transition: 2s;
    opacity: 0;
    display: block;
  }
}

// ======= MEDIA QUERY > 960PX (PC) ================
@media screen and (min-width: 960px) {
  .filter-home {
    .content-home {

      h3 {
        font-size: 2vmax;
      }

    }
  }
}


// ==== MEDIA QUERY >  MOBILE ORIENTATION PAYSAGE ====

@media (orientation: landscape) and (max-height: 430px) {

  // ***************** PAGE ACCEUIL *******************
  .container .slide-home .filter-home .content-home {

    h3,
    h2,
    h1 {
      margin: 0;
      padding: 0;
      font-size: 2.8vmax;
    }

    h2 {
      margin-top: 4rem;
    }
  }

  //
}