@font-face {
  font-family: 'GRIFTER Bold 700';
  src: url('../fonts/GRIFTER Bold 700.TTF') format('truetype');
}
@font-face {
  font-family: 'Coves Light';
  src: url('../fonts/Coves Light.ttf') format('truetype');
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,700;1,400&display=swap');

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red;   */
}

html {
  font-size: 62.5%;
}

@mixin centerElement {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

// polices
$titleFamily: 'GRIFTER Bold 700';
$texteRegular: 'Coves Light', sans-serif;

// couleurs
$primary: #14191f;
$secondary: #3a4555;
$text: #f8fafb;
$flashy: #dcf7ff;
$green: #28D49B;
