@font-face {
    font-family: 'grifter';
    src: url('./../fonts/grifter.ttf') format('truetype');
}
@font-face {
    font-family: 'coves';
    src: url('./../fonts/coves.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,700;1,400&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   /*  border: 1px solid red;   */ 
}

html {
    font-size: 62.5%;
}

// --------------------------------- centrer
@mixin centerElement {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

// ------------------------------------- titre page
@mixin titlePage {
    font-family: $titleFamily;
    font-size: 3.5vmax;
    color: $flashy;
}

// ------------------------------------- text
@mixin text($fontSize) {
    font-family: $texteRegular;
    font-size: $fontSize;
    text-align: justify;
    color: $text;
}

//  ------------------------------------ polices
$titleFamily: 'grifter';
$texteRegular: 'coves', sans-serif;
$fontSizeText: 1.8rem;
$titleGreenMobile: 2.2vmax;

// ------------------------------------- couleurs
$primary: #14191f;
$secondary: #3a4555;
$primaryHover : #1c222b;
$secondaryHover: #3a455593;
$text: #f8fafb;
$flashy: #dcf7ff;
$green: #28d49b;
$alert: rgb(238, 122, 122);

// ---------------------------- éléments des cards
@mixin titleCard($fontSize) {
    font-family: $titleFamily;
    color: $green;
    font-size: $fontSize;
    letter-spacing: 1px;
}

@mixin sentenceCard($fontSize) {
    color: $flashy;
     font-family: $titleFamily; 
    font-size: $fontSize;
    text-transform: uppercase;
    letter-spacing: 1px;
}
