// boutons -----------------
.btn {
  background-color: rgba(250, 235, 215, 0.575);
  padding: 0.7rem 3rem;
  border-radius: 5px;
  font-size: $fontSizeText;
  font-family: $texteRegular;
  text-decoration: none;
  margin-left: 2rem;
  z-index: 8;
  transition: 0.4s;
}

.btn-primary {
  background-color: $flashy;
  color: $primary;
  font-weight: bold;

  &:hover {
    border-style: inset;
    border: none;
    box-shadow: 0px 0px 0px 1px $flashy inset;
    background-color: $primary;
    color: $flashy;
  }
}

.btn-secondary {
  background-color: $secondary;
  color: $text;
  font-weight: bold;

  &:hover {
    border-style: inset;
    border: none;
    box-shadow: 0px 0px 0px 1px $flashy inset;
    background-color: $primary;
    color: $flashy;
  }
}
