body {
  min-height: 100vh; 
 background-image: url('./../img/background.jpg');
 background-size: cover;
  margin: 0;

}

h1 {
  font-family: 'GRIFTER Bold 700';
  color: aliceblue;
}

p {
  color: azure;
  font-family: 'Nexa-Trial-Regular';
}

