body {
  min-height: 100vh;
  width: 100%;
  background-color: transparent;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow: auto;
  scroll-behavior: smooth;
}

.slide {
  width: 100vw;
  height: 100vh;
  background-image: url('../img/background.jpg');
  background-position: center;
  background-size: cover;
  scroll-snap-align: center;
}

/*  cacher barre de scroll pour chrome */
::-webkit-scrollbar {
  display: none;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
}

// ************************* PAGE ACCEUIL ****************************
.filter-home {
  height: 0;
  .content-home {
    color: $text;
    margin-top: 100vh;
    padding: 1rem;
    h1,
    h2 {
      font-size: 3.5vmax;
      font-family: $titleFamily;
    }
    h3 {
      font-size: 2.3rem;
      font-family: $texteRegular;
      color: $green;
      margin: 2rem 0 2rem;
    }

    .text-btn-block {
      .btn-block {
        margin-top: 1rem;
        display: flex;
        justify-content: end;
      }
    }

    p {
      font-size: $fontSizeText;
      font-family: $texteRegular;
      color: $text;
      text-align: justify;
      margin-bottom: 2rem;
    }
  }
}

.slide-home {
  position: relative;
}

.text-use-mouse {
  display: none;
}
.scroll-icon {
  display: none;
}

// ************************* PAGE A PROPOS MOBILE **********************
.filter-about {
  width: 100%;
  height: 100%;
  background-color: rgb(7, 10, 19);
  opacity: 0.9;
  color: $secondary;
  font-family: $titleFamily;
  font-size: 4rem;
}

// section about -----------------------------------
.about {
  flex: 1;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  padding: 14rem 1rem 1rem 1rem;
  h2 {
    font-family: $titleFamily;
    font-size: 3.5vmax;
    color: $secondary;
  }

  // block titre - - - - - - - - -
  &__title {
    display: flex;
    align-items: flex-start;
    width: 70%;

    &__border-right {
      flex: 1;
      height: 1px;
      background-color: $secondary;
      margin-left: 2rem;
      margin-top: 2%;
    }
  }

  // block contenu - - - - - - - - -
  &__content {
    display: flex;
    width: 100%;
    height: 100%;

    &__border-left {
      margin-left: 0.1rem;
      width: 1px;
      max-height: 70%;
      background-color: $secondary;
    }

    // block contenu - - - - - - - - -
    &__block {
      width: 100%;
      height: 100%;
      padding: 2rem;
      font-family: $texteRegular;
      font-size: $fontSizeText;
      text-align: justify;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      .container {
        width: 100%;
        height: 100%;
        margin: 1rem;
        border-radius: 5px;
        padding: 1rem;
        background-color: #3a455598;
        color: $text;

        h3 {
          color: $green;
          text-align: center;
          text-transform: capitalize;
        }
      }
      /* 
      &__site {
      }
      &__spec {
      }

      &__freelance {
      } */
    }
  }
}

// ************************* PAGE SERVICES MOBILE **********************
.filter-services {
  width: 100%;
  height: 100%;
  /* background-color: #37afd4e1;
  opacity: 0.9; */
  background-color: rgb(7, 10, 19);
  opacity: 0.9;
  color: $secondary;
  font-family: $titleFamily;
  font-size: 4rem;
}

// section services -----------------------------------
.services {
  flex: 1;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  padding: 14rem 1rem 1rem 1rem;
  h2 {
    font-family: $titleFamily;
    font-size: 3.5vmax;
    color: $secondary;
  }

  // block titre - - - - - - - - -
  &__title {
    display: flex;
    align-items: flex-start;
    width: 70%;

    &__border-right {
      flex: 1;
      height: 1px;
      background-color: $secondary;
      margin-left: 2rem;
      margin-top: 2%;
    }
  }

  // block contenu - - - - - - - - -
  &__content {
    display: flex;
    width: 100%;
    height: 100%;

    &__border-left {
      margin-left: 0.1rem;
      width: 1px;
      max-height: 70%;
      background-color: $secondary;
    }

    // block contenu - - - - - - - - -
    &__block {
      width: 100%;
      height: 100%;
      padding: 2rem;
      font-family: $texteRegular;
      font-size: $fontSizeText;
      text-align: justify;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      .container {
        width: 100%;
        height: 100%;
        margin: 1rem;
        border-radius: 5px;
        padding: 1rem;
        background-color: #3a455598;
        color: $text;

        h3 {
          color: $green;
          text-align: center;
          text-transform: capitalize;
        }
      }
      /* 
      &__site {
      }
      &__spec {
      }

      &__freelance {
      } */
    }
  }
}

// ************************* PAGE REALISATIONS MOBILE **********************
.filter-project {
  width: 100%;
  height: 100%;
  /* background-color: #37afd4e1;
  opacity: 0.9; */
  background-color: rgb(7, 10, 19);
  opacity: 0.9;
  color: $secondary;
  font-family: $titleFamily;
  font-size: 4rem;
}

// section project -----------------------------------
.project {
  flex: 1;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  padding: 14rem 1rem 1rem 1rem;
  h2 {
    font-family: $titleFamily;
    font-size: 3.5vmax;
    color: $secondary;
  }

  // block titre - - - - - - - - -
  &__title {
    display: flex;
    align-items: flex-start;
    width: 70%;

    &__border-right {
      flex: 1;
      height: 1px;
      background-color: $secondary;
      margin-left: 2rem;
      margin-top: 2%;
    }
  }

  // block contenu - - - - - - - - -
  &__content {
    display: flex;
    width: 100%;
    height: 100%;

    &__border-left {
      margin-left: 0.1rem;
      width: 1px;
      max-height: 70%;
      background-color: $secondary;
    }

    // block contenu - - - - - - - - -
    &__block {
      width: 100%;
      height: 100%;
      padding: 2rem;
      font-family: $texteRegular;
      font-size: $fontSizeText;
      text-align: justify;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      .container {
        width: 100%;
        height: 100%;
        margin: 1rem;
        border-radius: 5px;
        padding: 1rem;
        background-color: #3a455598;
        color: $text;

        h3 {
          color: $green;
          text-align: center;
          text-transform: capitalize;
        }
      }
      /* 
      &__site {
      }
      &__spec {
      }

      &__freelance {
      } */
    }
  }
}

// ************************* PAGE CONTACT MOBILE **********************
.filter-contact {
  width: 100%;
  height: 100%;
  /* background-color: #37afd4e1;
  opacity: 0.9; */
  background-color: rgb(7, 10, 19);
  opacity: 0.9;
  color: $secondary;
  font-family: $titleFamily;
  font-size: 4rem;
}

// section contact -----------------------------------
.contact {
  flex: 1;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  padding: 14rem 1rem 1rem 1rem;
  h2 {
    font-family: $titleFamily;
    font-size: 3.5vmax;
    color: $secondary;
  }

  // block titre - - - - - - - - -
  &__title {
    display: flex;
    align-items: flex-start;
    width: 70%;

    &__border-right {
      flex: 1;
      height: 1px;
      background-color: $secondary;
      margin-left: 2rem;
      margin-top: 2%;
    }
  }

  // block contenu - - - - - - - - -
  &__content {
    display: flex;
    width: 100%;
    height: 100%;

    &__border-left {
      margin-left: 0.1rem;
      width: 1px;
      max-height: 70%;
      background-color: $secondary;
    }

    // block contenu - - - - - - - - -
    &__block {
      width: 100%;
      height: 100%;
      padding: 2rem;
      font-family: $texteRegular;
      font-size: $fontSizeText;
      text-align: justify;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      .container {
        width: 100%;
        height: 100%;
        margin: 1rem;
        border-radius: 5px;
        padding: 1rem;
        background-color: #3a455598;
        color: $text;

        h3 {
          color: $green;
          text-align: center;
          text-transform: capitalize;
        }
      }
      /* 
      &__site {
      }
      &__spec {
      }

      &__freelance {
      } */
    }
  }
}
