body {
 /*  height: 100vh; */
 /*  overflow: hidden; */
  /* background-color: rgb(3, 9, 15); */
  margin: 0;
}

h1 {
  font-family: 'GRIFTER Bold 700';
  color: aliceblue;
}


p {
  color: azure;
  font-family: 'Nexa-Trial-Regular';
}