// ================= MEDIA QUERY > 740PX (TABLETTE) =================

@media screen and (min-width: 740px) {
  // ************** HEADER ******************

  // affiche la nav
  .header__nav {
    &__btn {
      display: none;
    }

    .menu {
      display: flex;
    }
  }

  // ********** MODALE MENU HAMBURGER**********
  .menu-modal {
    display: none;
  }

  // ********************* PAGE ACCEUIL ************************

  .filter-home {
    .content-home {
      margin-top: 100vh;
      margin-left: -5vw;
      padding: 5rem;
      p {
        width: 70vw;
        text-align: justify;
      }
    }
  }
}

// ================= MEDIA QUERY > 940PX (PC) =================

@media screen and (min-width: 940px) {
  // ************** HEADER ******************

  // affiche la nav
  .header__nav {
    &__btn {
      display: none;
    }

    .menu {
      display: flex;
    }
  }

  // ********** MODALE MENU HAMBURGER**********
  .menu-modal {
    display: none;
  }

  // ********************* PAGE ACCEUIL ************************

  .filter-home {
    .content-home {
      /* position: relative;
      top: 45rem; */
      margin-top: 100vh;
      margin-left: -10vw;
      padding: 5rem;
      p {
        width: 35vw;
        text-align: justify;
      }
    }
  }
}

@media (orientation: landscape) {
  .filter-home {
    .content-home {
      margin-top: 110vh;
      margin-left: -2vw;
      padding: 5rem;
      p {
        width: 100%;
        max-width: 60rem;
        text-align: justify;
      }
    }
  }

  .menu-modal {
    ul {
      flex-direction: row;
      justify-content: space-around;
    }
  }
}
