//
//
// ================= MEDIA QUERY > 740PX (TABLETTE) =========================
@media screen and (min-width: 768px) {
  // ************** HEADER ******************

  .header {
    margin: 2rem auto;
  }

  .header__logo {
    margin-left: 4rem;
  }

  // affiche la nav
  .header__nav {
    &__btn {
      display: none;
    }

    .menu {
      display: flex;
    }
  }

  // ********** MODALE MENU HAMBURGER**********
  .menu-modal {
    display: none;
  }

  // ********************* PAGE ACCEUIL ************************

  .filter-home {
    .content-home {
      margin-top: 100vh;
      margin-left: -5vw;
      padding: 5rem;

      .text-btn-block {
        width: 80%;
      }
    }
  }

  // ********************* PAGE A PROPOS ************************

  .about {
    &__title {
    }

    &__content__block {
      .apropos-ordi {
      }

      .title-formation {
      }

      .title_competences {
      }

      // bloc droit --------------------------------------
      &__competences {
        .about-card-block {
        }
      }
    }
  }
}

//
//
//
// ======================= MEDIA QUERY > 940PX (PC) ===========================

@media screen and (min-width: 960px) {
  // ************** HEADER ******************

  // affiche la nav
  .header__nav {
    &__btn {
      display: none;
    }

    .menu {
      display: flex;
    }
  }

  // ********** MODALE MENU HAMBURGER**********
  .menu-modal {
    display: none;
  }

  // ********************* PAGE ACCEUIL ************************
  .filter-home {
    .content-home {
      margin-top: 100vh;
      margin-left: -10vw;
      padding: 5rem;

      h3 {
        font-size: 2vmax;
      }

      .text-btn-block {
        width: 35vw;
      }
    }
  }

  // ********************* PAGE A PROPOS ************************

  .about {
    padding: 0;
    &__title {
      width: 80%;
    }

    &__title__border-right {
      margin-top: 1.5%;
    }

    &__content {
      &__block {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-top: 1rem;

        // bloc gauche ------------------------------------
        &__presentation {
          flex: 1;
          padding: 1rem;

          .apropos-ordi {
            font-size: $fontSizeText;
          }

          .title-formation {
            font-size: 2vmax;
            color: $green;
            margin: 1rem 0;
          }

          .text-presentation {
            font-size: $fontSizeText;
            span {
              font-size: 1.4rem;
            }
          }
        }

        // bloc droit --------------------------------------
        &__competences {
          flex: 2;
          padding: 1rem;

          .title_competences {
            margin-top: 0;
            font-size: 2vmax;
            color: $green;
          }

          // compétences title + text + logo ----------
          .about-card-block {
            font-size: $fontSizeText;
            margin: 0.8rem 0;

            h3 {
              font-size: 1.6rem;
              margin-bottom: -0.3rem;
            }

            p {
              font-size: $fontSizeText;
            }

            .text-icon-flex {
              height: 80%;
            }

            .about__icon {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: flex-end;

              .icon-block {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
              }

              svg {
                width: 2.5rem;
                height: 2.5rem;
                margin: 0.2rem;
              }
              // logo figma veux pas se mettre comme les autres
              .figma {
                padding: 0.55rem;
              }
            }
          }
        }
      }
    }
  }

  // ********************* PAGE SERVICES ************************

  .services {
    padding: 14rem 4rem 4rem 8rem;

    &__content__block {
      flex-direction: row;
      padding: 8rem;

      .container {
        margin: 2rem;
      }
    }
  }

  // ********************* PAGE REALISATIONS ************************

  .project {
    padding: 14rem 4rem 4rem 8rem;

    &__content__block {
      flex-direction: row;
      padding: 8rem;

      .container {
        margin: 2rem;
      }
    }
  }

  // ********************* PAGE CONTACT ************************

  .contact {
    padding: 14rem 4rem 4rem 8rem;

    &__content__block {
      flex-direction: row;
      padding: 8rem;

      .container {
        margin: 2rem;
      }
    }
  }
}
//
//
//
// ======================= MEDIA QUERY > 120PX ( GRAND ECRAN ===========================
@media screen and (min-width: 1200px) {
  .about {
    padding: 0;

    &__content {
      &__block {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0;

        // bloc gauche ------------------------------------
        &__presentation {
          flex: 1;
          padding: 6rem;
          padding-left: 10rem;

          .apropos-ordi {
            font-size: $fontSizeText;
          }

          .title-formation {
            font-size: 1.5vmax;
            color: $green;
            margin: 2rem 0 1.3rem;
          }

          
          .item-formation {
            margin-bottom: 0.6rem;
            font-size: $fontSizeText;
            span {
              font-size: 1.1rem;
            }
          }
        }

        // bloc droit --------------------------------------
        &__competences {
          flex: 2;
          padding: 6rem;

          .title_competences {
            margin-top: 0;
            font-size: 1.5vmax;
            color: $green;
          }

          // compétences title + text + logo ----------
          .about-card-block {
            font-size: $fontSizeText;
            margin: 1rem 0;

            h3 {
              font-size: 1.6rem;
              margin-bottom: -0.3rem;
            }

            p {
              font-size: $fontSizeText;
            }

            .text-icon-flex {
              height: 80%;
            }

            .about__icon {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: flex-end;

              .icon-block {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
              }

              svg {
                width: 2.5rem;
                height: 2.5rem;
                margin: 0.2rem;
                transition: 0.5s ease-in-out;

                &:hover {
                  transform: scale(2);
                  transition: 0.2s ;
                }
              }
              // logo figma veux pas se mettre comme les autres
              .figma {
                padding: 0.55rem;
              }
            }
          }
        }
      }
    }
  }
}

//
//
//
// ======================== MEDIA QUERY > ORIENTATION PAYSAGE ========================

@media (orientation: landscape) {
  .filter-home {
    .content-home {
      margin-top: 110vh;
      margin-left: -2vw;
      padding: 5rem;
      .text-btn-block {
        width: 100%;
        max-width: 60rem;
      }
    }
  }

  .menu-modal {
    ul {
      flex-direction: row;
      justify-content: space-around;
    }
  }
}
