@use "./_variables" as v;
// ----- Centrer ---------
@mixin mCenterElement {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}// ------- Title page----------
@mixin mTitlePage($fontSize) {
  font-family: v.$fontGrifterFamily;
  font-size: $fontSize;
  color: v.$colorWhite;
}// ------- Title card -----------
@mixin mTitleCard($fontSize) {
  font-family: v.$fontGrifterFamily;
  color: v.$colorDark;
  font-size: $fontSize;
  letter-spacing: 1px;
  text-transform: uppercase;
}// ------- Under title card  -----------
@mixin mUnderTitleCard($fontSize) {
  font-family: v.$fontGrifterFamily;
  color: v.$colorDark;
  font-size: $fontSize;
  letter-spacing: 1px;
  text-transform: uppercase;
}// ------- Sentence card  -----------
@mixin mSentenceCard($fontSize) {
  font-family: v.$fontCovesFamily;
  color: v.$colorWhite;
  font-size: $fontSize;
}// ------- Text card  -----------
@mixin mTextCard($fontSize) {
  font-family: v.$fontCovesFamily;
  color: v.$colorWhite;
  font-size: $fontSize;
  text-align: justify;
  line-height: 1.7rem;
}// ------- Hover card -----------
@mixin mHoverCard() {
  transition: all 3s cubic-bezier(0.2, 1.35, 0.82, 0.92);
  background-color: v.$colorBackgroundCardHover;
  box-shadow: 2px 2px 10px -2px $colorDark;
}