@use "../abstracts/_all" as a;
//
// ----- Centrer ---------
@mixin mCenterElement {
  display: flex;
  justify-content: center;
  align-items: center;
}
// ------- Title page----------
@mixin mTitlePage($fontSize) {
  font-family: a.$fontGrifterFamily;
  font-size: fontSize;
  color: $textWhite;
}

// ------- Title card -----------
@mixin mTitleCard($fontSize) {
  font-family: a.$fontCovesFamily;
  color: a.$colorDark;
  font-size: $fontSize;
  letter-spacing: 1px;
  text-transform: uppercase;
}

// ------- Under title card  -----------
@mixin mUnderTitleCard($fontSize) {
  font-family: a.$fontGrifterFamily;
  color: a.$colorDark;
  font-size: $fontSize;
  letter-spacing: 1px;
  text-transform: uppercase;
}

// ------- Sentence card  -----------
@mixin mSentenceCard($fontSize) {
  font-family: a.$fontCovesFamily;
  color: a.$colorWhite;
  font-size: $fontSize;
  letter-spacing: 1px;
  text-transform: uppercase;
}

// ------- Text card  -----------
@mixin mTextCard($fontSize) {
  font-family: a.$fontCovesFamily;
  color: a.$colorWhite;
  font-size: $fontSize;
  text-align: justify;
}
