//

//  ------------------------------------ polices
$fontTitleFamily: 'grifter';
$fontTextFamily: 'coves', sans-serif;
$fontSizeTitlePage: 2.5vmax;
$fontSizeTitlePageMobile: 2.2vmax;
$fontSizeTitleBlock: 2.5rem;
$fontSizeTitleBlockMobile: 2rem;
$fontSizeUnderTitle: 2rem;
$fontSizeUnderTitleMobile: 1.8rem;

$fontSizeText: 1.8rem;
$fontSizeTextMobile: 1.4rem;